/*BOTTOM SECTION*/

:root {
  --serverGreen: #49b02c;
  --serverRed: red;
}


.bottom-section{

    width: 40%;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
  
  }
  
  .bottom-container {
    width: 85%;
    background-color: var(--containerBg);
    padding: 1em;
    border-radius: 3px;
    font-size: 0.85rem;
    font-family: var(--fontFamily);
    color: var(--secondaryFg);
    text-align: center;
    justify-content: center;
  }
  
  /* SERVER STATUS */
  .server-status-container{
    padding: 1em;
    background-color: var(--containerBg);
    border-radius: 3px;
    font-family: var(--fontFamily);
    font-size: 0.85rem;
    width: auto;
    height: 100%;
    margin: 0em 1.5em;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #server_status_text{
    writing-mode: vertical-rl;
  }
  
  #server_status_text.red{
    color:var(--serverRed);
  }
  
  #server_status_text.green{
    color: var(--serverGreen);
  }
  



  /*TO DO*/
  #todo_title{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todo-title-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--fg);
    margin-bottom: 0.35em;
  }
  
  .button.todo-add-button{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
    font-size: 1rem;
    border-radius: 15px;
  }

  #todo_title:hover .todo-add-button{
    opacity: 1;
    transition: opacity 100ms ease-in-out;
  }
  
  .todo-element-container{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-element-button{
    display: none;
    opacity: 0;
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--secondaryFg);
    border-radius: 3px;
    border: none;
    transition: color 100ms ease-in-out;
    animation: display .5s forwards;
  }
  .todo-element-button:hover{
    color: var(--fg);
    border-radius: 3px;
    cursor: pointer;
    transition: color 100ms ease-in-out;
  }
  
  .todo-element-container:hover .todo-element-button{
    display:block;
  }

  @keyframes display {
    to {opacity: 1;}
  }
  
  .todo-element-text{
    background-color: transparent;
    margin: 0.5em 0em;
  }
  
  .todo-input{
    border-radius: 3px;
    background-color: var(--scrollbarColor);
    color: var(--fg);
    border:none;
  }

  /*WLED*/
  #wled_button_set{
    padding: 0em;
    background-color: transparent;
    font-size: 0.85rem;
    width: 4em;
    height: 12em;
    margin: 0em 0em;
    box-sizing: border-box;
  }

  .wled-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--containerBg);
    border-radius: 3px;
    font-family: var(--fontFamily);
    font-size: 0.85rem;
    width: 4em;
    height: 4em;
    margin: 0em 0em 4em;
    box-sizing: border-box;
  }

  .button.wled-button{
    font-size: 1.5rem;
    filter: brightness(1);
    background-color: transparent;
    transition: filter 100ms ease-in-out;
  }
  .button.wled-button:hover{
    filter: brightness(3.5);
    transition: filter 100ms ease-in-out;
  }
  button.wled-button.unavailable{
    color: black;
    cursor: not-allowed;
  }