/*LIFE-BAR*/
.life-bar-container{
  display: flex;
  width: 38%;
  height: 1.5em;
  margin: 1em 0em 0em;
  background-color: var(--containerBg);
  border-radius: 3px;
  font-family: var(--fontFamily);
  color: var(--fg);
  text-align: center;
}

#life_bar_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#life_bar_progress{
  height: 100%;
  border-radius: 3px;
  background-color: var(--secondaryFg);
}

#life_bar_message{
  background-color: transparent;
  margin-left: auto;
  border:none;
  opacity: 1;
  font-size: 0.85rem;
  color: var(--fg);
  mix-blend-mode: difference;
  transition: opacity 200ms ease-in-out;
}
#life_bar_message:hover{
  cursor: pointer;
}

#life_bar_message.hide{
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}


#life_bar_percentaje_text{
  margin-left: auto;
  margin-top: 0.3%;
  font-size: 0.85rem;
  color: var(--fg);
  mix-blend-mode: difference;
}